.head{
    position: relative;
    left: 2px;
    top: 2px;
    font-size: 20px;
}

table , td{
    border: 1px solid black;
    border-collapse: collapse;
}

tr{
    height: 100px;
    border: 1px solid black;
}

td{
    width: 100px;
    border: 1px solid black
}

html{
    position: absolute;
    top: 2%;
    left: 30%;
}